/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
img {
    height: 100%;
}

/* Nav Bar */

.top-nav{
    display:flex;
    justify-content:space-between;
    height:80px;
}

.links{
    list-style:none;
    display:flex;
    justify-content:center;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
}

li{
    text-transform:uppercase;
    display:flex;
    padding-right:2em;
}

.links > li:last-child {
    margin-right: 0px;
}

/* Hero */

.hero {
    color: #fff;
    position: relative;
}

.hero-image {
    background: url("./Images/hero1.jpg");
    /* filter:brightness(99%); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-content {
    padding: 40vh 0 10vh 0;
    width: 50%;
}

.hero-heading {
    font-size: 64px;
    margin-bottom: 40px;
    text-align: center!important;
}

/* Utlities */

.container {
padding: 0 12vh;
width: 100%;
}

.btn {
padding: 14px 10px;
border: none;
border-radius: 30px;
width:110px;
}

.btn-blue {
background-color: rgb(66, 167, 214);
color: #fff;
font-weight:bold;
}

.bold {
font-weight: bolder;
}
  